{extend name='admin@main'}

{block name="content"}

{include file='main@profession/form_style'}

<form onsubmit="return false;" id="IncidentForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs2 relative">
                <span class="color-green">所属主职业</span>
                <select class="layui-select" required name="pid" lay-search>
                    <option value="0">无</option>
                    {foreach $cates as $cate}
                    {if isset($vo.id) and $vo.id eq $cate.id}
                    <option selected value="{$cate.id}">{$cate.title|default=''}</option>
                    {else}
                    <option value="{$cate.id}">{$cate.title|default=''}</option>
                    {/if}
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs1 relative">
                <span class="color-green">等级</span>
                <select class="layui-select" required name="level" lay-search>
                    {for start="1" end="21" step="1" name="i"}
                    <option value="{$i}">{$i}</option>
                    {/for}
                </select>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">职业名称</span>
                <input name="title" required class="layui-input" placeholder="请输入职业名称" value="{$vo.title|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">别称</span>
                <input name="vice_title" required class="layui-input" placeholder="请输入别称" value="{$vo.title|default=''}">
            </label>

        </div>
        <!--
        <div class="layui-form-item">
            <span class="color-green label-required-prev">职业展示图片</span>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-left">LOGO</th>
                </tr>
                <tr>
                    <td width="90px" class="text-left"><input name="logo" type="hidden" data-folder="{$controller}" data-path="{$upload_file_path}" value="{$vo.logo|default=''}"></td>
                </tr>
                </thead>
            </table>
            <script>$('[name="logo"]').uploadOneImage(), $('[name="image"]').uploadMultipleImage()</script>
        </div>
        -->
        <div class="layui-form-item block">
            <span class="label-required-prev color-green">职业详细内容</span>
            <textarea name="content">{$vo.content|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存</button>
        </div>

    </div>
</form>
{/block}

{block name='script'}

<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="content"]', {height: 500});
        var app = angular.module("IncidentForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.isAddMode = parseInt('{$isAddMode|default=0}');
            // 返回事件列表
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
        }
    })
</script>
{/block}